# ADA Semester Project

This represents the project for the CS-401 course at EPFL, done by:

| SCIPER                                              | Name                      |
|:----------------------------------------------------|:--------------------------|
| [356420](https://people.epfl.ch/badr.almahouri)     | Badr Al Mahouri           |
| [341237](https://people.epfl.ch/louis.grange)       | Louis Grange              |
| [340497](https://people.epfl.ch/daniel.alvesataide) | Daniel Ata√≠de             |
| [329310](https://people.epfl.ch/arnaud.tadic)       | Arnaud Jacques Yves Tadic |
| [308396](https://people.epfl.ch/yuri.cho)           | Yuri Cho                  |

## Install dependencies

In [19]:
!pip3 install pandas -q

In [20]:
import pandas as pd

## Import dataset

We can first import the data from the downloaded dataset. If you didn't download it, just do it [here](https://snap.stanford.edu/data/soc-RedditHyperlinks.html).

In [34]:
BODY_HYPERLINKS_DATA = "../data/soc-redditHyperlinks-body.tsv"
TITLE_HYPERLINKS_DATA = "../data/soc-redditHyperlinks-title.tsv"

body_data = pd.read_csv(BODY_HYPERLINKS_DATA, sep='\t', parse_dates=['TIMESTAMP'])
title_data = pd.read_csv(TITLE_HYPERLINKS_DATA, sep='\t', parse_dates=['TIMESTAMP'])

print(len(body_data), "elements imported from", BODY_HYPERLINKS_DATA)
print(len(title_data), "elements imported from", TITLE_HYPERLINKS_DATA)

286561 elements imported from ../data/soc-redditHyperlinks-body.tsv
571927 elements imported from ../data/soc-redditHyperlinks-title.tsv

and then check if the data has been correctly imported

In [26]:
title_data.head()

,SOURCE_SUBREDDIT,TARGET_SUBREDDIT,POST_ID,TIMESTAMP,LINK_SENTIMENT,PROPERTIES
0,leagueoflegends,teamredditteams,1u4nrps,2013-12-31 16:39:58,1,"345.0,298.0,0.75652173913,0.0173913043478,0.08..."
1,theredlion,soccer,1u4qkd,2013-12-31 18:18:37,-1,"101.0,98.0,0.742574257426,0.019801980198,0.049..."
2,inlandempire,bikela,1u4qlzs,2014-01-01 14:54:35,1,"85.0,85.0,0.752941176471,0.0235294117647,0.082..."
3,nfl,cfb,1u4sjvs,2013-12-31 17:37:55,1,"1124.0,949.0,0.772241992883,0.0017793594306,0...."
4,playmygame,gamedev,1u4w5ss,2014-01-01 02:51:13,1,"715.0,622.0,0.777622377622,0.00699300699301,0...."

In [35]:
body_data.head()

,SOURCE_SUBREDDIT,TARGET_SUBREDDIT,POST_ID,TIMESTAMP,LINK_SENTIMENT,PROPERTIES
0,leagueoflegends,teamredditteams,1u4nrps,2013-12-31 16:39:58,1,"345.0,298.0,0.75652173913,0.0173913043478,0.08..."
1,theredlion,soccer,1u4qkd,2013-12-31 18:18:37,-1,"101.0,98.0,0.742574257426,0.019801980198,0.049..."
2,inlandempire,bikela,1u4qlzs,2014-01-01 14:54:35,1,"85.0,85.0,0.752941176471,0.0235294117647,0.082..."
3,nfl,cfb,1u4sjvs,2013-12-31 17:37:55,1,"1124.0,949.0,0.772241992883,0.0017793594306,0...."
4,playmygame,gamedev,1u4w5ss,2014-01-01 02:51:13,1,"715.0,622.0,0.777622377622,0.00699300699301,0...."